# PostgreSQL
POSTGRES_DB=""  
POSTGRES_HOST=""  
POSTGRES_PORT="5432"  
POSTGRES_USER="username"  
POSTGRES_PASSWORD="password"

# Docker mode
APP_ENV="development"
DOCKER_TARGET="runtime-dev"
BACKEND_PORT="3000"